<article id="accept-job-form" class="accept-job hidden">
  <div class="job-header">
    <h2 class="job-title">Accept This Contract?</h2>
    <button type="button" id="accept-job-close-button" class="accept-job-close-button action-button"><i class="fas fa-times"></i></button>
  </div>
  <div class="accept-job job-header">
    <input type="text" class="accept-job from-name" placeholder="Your Name">
    <input type="text" class="accept-job from-email" placeholder="you@email.com">
    <textarea type="text" class="accept-job to-message" rows="4" placeholder="Message"></textarea>
    <input type="text" class="accept-job to-email" placeholder="contractor@diggit.com">
  </div>
  <div class="accept-job-footer">
    <button type="button" class="action-button accept-job">SUBMIT <i class="fas fa-arrow-right"></i></button>
  </div>
</article>
