<div class="comment">
    <div class="comment-header">
        <p class="comment-author"><a href="#">{{author}}</a></p>
        <p class="comment-timestamp">{{timestamp}}</p>
    </div>
    <p class="comment-text">{{text}}</p>
</div>