<div class="comment">
    <div class="comment-header">
        <p class="comment-author"><a href="#">{{author}}</a></p>
        <p class="comment-timestamp">{{timestamp}}</p>
    </div>
    <div class="comment-desc-cont">
      <p class="comment-text">{{text}}</p>
      <button type="button" id="accept-offer-button" class="accept-offer">ACCEPT</button>
    </div>
</div>
