<article class="signin post">
    <div class="signin post-header">
        <h2 class="signin post-title">New User</h2>
    </div>
    <div class="signin header">
      <div class="signin-row">
        <h2 class="sigin-h2">Name:</h2>
        <input type="text" id="create-user-firstname" class="signin-field" placeholder="first">
        <input type="text" id="create-user-lastname" class="signin-field" placeholder="last">
      </div>
      <div class="signin-row">
        <h2 class="sigin-h2">Email:</h2>
        <input type="email" id="create-user-username" class="signin-field" placeholder="you@example.com">
      </div>
      <div class="signin-row">
        <h2 class="sigin-h2">Password:</h2>
        <input type="password" id="create-user-password" class="signin-field signin-password create-user-password" placeholder="Password">
      </div>
      <div class="signin-row">
        <h2 class="sigin-h2">Confirm Password:</h2>
        <input type="password" id="create-user-confpassword" class="signin-field signin-password" placeholder="Password">
      </div>
    </div>
    <div class="signin-footer">
      <button type="button" id="create-user-button" class="action-button submit-post">CREATE ACCOUNT <i class="fas fa-arrow-right"></i></button>
    </div>
</article>
