<article class="signin post">
    <div class="signin post-header">
        <h2 class="signin post-title">Sign In</h2>
    </div>
    <div class="signin header">
      <div class="signin-row">
        <h2 class="sigin-h2">Username:</h2>
        <input type="text" id="signin-username" class="signin-field" placeholder="you@example.com">
      </div>
      <div class="signin-row">
        <h2 class="sigin-h2">Password:</h2>
        <input type="password" id="signin-password" class="signin-field" placeholder="Password">
      </div>
    </div>
    <div class="signin-footer">
      <button type="button" id="signin-button" class="action-button submit-post">SIGN IN <i class="fas fa-arrow-right"></i></button>
    </div>
</article>
