<main class="post-container">
    <article id="add-post-stub" class="post add-post-stub">
        <a href="#add-post-form">
            <div class="post-header">
                <h2 class="post-title">Add a Job</h2>
                <button type="button" class="add-post-button action-button"><i class="fas fa-arrow-right"></i></button>
            </div>
        </a>
    </article>
    <article id="add-post-form" class="post add-post hidden">
        <div class="post-header">
            <h2 class="post-title">Add a Job</h2>
            <button type="button" id="add-post-close-button" class="add-post-close-button action-button"><i class="fas fa-times"></i></button>
        </div>
        <div class="add-post post-header">
            <input type="text" class="add-post post-title" placeholder="Post title">
            <input type="text" class="add-post post-price" placeholder="Price">
        </div>
        <div class="add-post post-content">
            <textarea type="text" class="add-post post-description" rows="4" placeholder="Job Description"></textarea>
            <input type="text" class="add-post post-author" placeholder="Name">
        </div>
        <div class="add-post-footer">
            <button type="button" id="submit-post-button" class="action-button submit-post">SUBMIT <i class="fas fa-arrow-right"></i></button>
        </div>
    </article>


    {{#each contracts}}

        {{> contractCard}}

    {{/each}}

</main>
